---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  beets:
    image: linuxserver/beets
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
      - TZ={{ common_timezone }}
    volumes:
      - "{{ volumes_root }}/beets/config:/config"
      - "{{ storage_dir }}/Music:/music"
      - "{{ storage_dir }}/Downloads/Music:/downloads"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:beets.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8337"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:beets.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8337"
{% endif %}