---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Drone is a self-service continuous delivery platform
  drone-server:
    image: drone/drone:1.0
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/drone/data:/data"
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik_network
    environment:
      - DRONE_GITEA_SERVER=https://gitea.{{ domain }}
      - DRONE_GIT_ALWAYS_AUTH=true
      - DRONE_RUNNER_CAPACITY=1
      - DRONE_SERVER_PROTO=https
      - DRONE_SERVER_HOST=drone.{{ domain }}
      - DRONE_TLS_AUTOCERT=false
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:drone.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:drone.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  drone-agent:
    image: drone/agent:1.0
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik_network
    environment:
      - DRONE_SERVER=drone-server:9000
      - DRONE_SECRET="{{lookup('password', './settings/passwords/drone_secret chars=digits')}}"
      - DRONE_MAX_PROCS=1
    labels:
      - "traefik.enable=false"
