---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Media Server
  jellyfin:
    image: jellyfin/jellyfin
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/jellyfin/config:/config"
      - "{{ storage_dir }}/Music:/media/Music"
      - "{{ storage_dir }}/Video/Movies:/media/Movies"
      - "{{ storage_dir }}/Video/TV:/media/TV"
      - "{{ storage_dir }}/temp:/cache"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:jellyfin.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8096"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:jellyfin.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8096"
{% endif %}
