---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  code-server:
    image: codercom/code-server
    volumes:
      - "{{ volumes_root }}/codeserver/code:/root/project"
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8443:8443
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:code-server.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8443"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:code-server.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8443"
{% endif %}
