---
version: '3'

services:
  homebridge:
    image: oznu/homebridge:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/homebridge:/homebridge"
