---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  ombi:
    networks:
      - traefik_network
    image: hotio/ombi
    environment:
      - UID={{ uid }}
      - GID={{ gid }}
      - TZ={{common_timezone}}
    volumes:
      - "{{ volumes_root }}/ombi/config:/config"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:ombi.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=5000"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:ombi.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=5000"
{% endif %}
